<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <div class="alert alert-danger" *ngIf="loginForm.errors">Username or password is invaild !</div>
    <div class="form-group">
    <input class="form-control mb-3" formControlName="username" type="email" placeholder="Email Address">
   
    </div>
    <div class="form-group">
    <input class="form-control mb-3" formControlName="password" type="password" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <a href="#">I forgot my account details</a>
        <button class="btn btn-secondary btn-lg btn-shadow" type="submit"><i class="icon-lock"></i>
            LOGIN</button>
    </div>
</form>
<div class="row mt-5">
    <div class="col-md-12"> <button class="btn btn-primary btn-lg btn-shadow w-100" type="submit"><i
                class="icon-social-facebook"></i> LOGIN WITH FACEBOOK</button></div>
    <div class="col-md-12 mt-3"> <button class="btn btn-secondary btn-lg btn-shadow  w-100" type="submit"
            data-toggle="modal" data-target="#signupModal"><i class="icon-people"></i>
            CREATE NEW ACCOUNT</button></div>
</div>
<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">CREATE NEW ACCOUNT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <form class="" >
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control"  placeholder="Appraisal Company Name" required="">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control"  placeholder="Appraisal Name" required="">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control"  placeholder="Appraisal Co. Address" required="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control"  placeholder="City" required="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control"  placeholder="State" required="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="tel" class="form-control"  placeholder="Phone Number" required="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="tel" class="form-control" placeholder="Fax" required="">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                            <input type="email" class="form-control" placeholder="Email Address" required="">
                                        </div>  
                                <div class="col-md-12 mb-3">
                                        <input type="password" class="form-control"  placeholder="Enter Password" required="">
                                    </div>  
                                    <div class="col-md-12 mb-3">
                                            <input type="password" class="form-control"  placeholder="Re-Enter Password" required="">
                                            
                                        </div>                                                        
                                </div>
                                <button class="btn btn-primary btn-lg btn-shadow w-100" type="submit">Submit</button>
                                </form>


                           
                        </div>
           
          </div>
      
        </div>
      </div> 
