<!--The content below is only a placeholder and can be replaced.-->
<main>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-10 mx-auto my-auto">
                <div class="card auth-card">
                    <div class="position-relative image-side">

                        <p class="text-white h3 text-center">Welcome to the future of <br>collision estimating</p>

                    </div>
                    <div class="form-side">
                        <p class="text-center mb-5"><img src="assets/img/logo.png" alt="Quick Sheet"></p>
                        <h6 class="mb-4">Login</h6>
                        <app-login></app-login>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

